export ZSHRC=~/.zshrc
alias vrc="vim $ZSHRC"
alias src="source $ZSHRC"

alias ali="vim ~/projects/zcommands/alias.rc"
alias pas="vim ~/projects/zcommands/path.rc"

# python pypi package command
alias pypk="python setup.py sdist bdist_wheel"

# conda
alias ca="conda activate"
alias da="conda deactivate"
alias cl="conda env list"

# navi
alias lsn="ls $iv/navi/*.webloc"

# macos 下用命令行打开某个程序
alias typo="open -a typora" # only in macos, not work in Linux
alias vs='open -a "visual studio code"'

# 迅速创建3个优先级文件
alias md3="mkdir 1级 2级 3级"

alias tree="tree -N"

alias lsm="ls $swim/navi/*.webloc"
alias lsd="ls -d */"

alias g++="g++ -std=c++11"

alias bbs="echo ~/projects/scrapy_projects/bbs_crawler/crawl_test/output && ls ~/projects/scrapy_projects/bbs_crawler/crawl_test/output"

alias csdn="cd ~/Documents/csdn_blogs && ls ~/Documents/csdn_blogs"

alias rsync="rsync -av -e ssh --delete"
alias sync="rsync -av -e ssh --delete"

alias ssync="rsync  --exclude='.git/*' $pj/Cpp11WebServer $zxd"
alias ssync2="rsync $pj/cpp-projects/cpp14-webserver $zxd "

alias ghc="gh repo clone"
alias gtc="git clone"

# 批量命名文件夹内的所有文件
zrenamed(){
  ls | awk '{a="\"";print a $0 a;}' | xargs zrename
}

# 进入htmls目录
alias html="cd ~/projects/interview/htmls"


cdx(){
  echo `pwd` >> ~/.cdh.rc
  cd $1
}

export cdhf=~/.cdh.rc
alias cdh="uniq $cdhf"

alias chrome="open -a 'google chrome'"
# alias gdb="gdb -x ~/.gdbconfig"

swm(){
   f="/Users/zxzx/projects/swim/梦觉自由泳教学.md"
   vs $f
}

psd(){
   f="/Users/zxzx/projects/ps-design/1-ps.md"
   vs  $f
}

ivo(){
  vs $iv
}
# 光速打开go学习笔记
alias golc="vs /Users/zxzx/projects/interview/6.824/go_learn/1级/go-learn笔记.md"
alias alg="vs /Users/zxzx/projects/interview/a-rush/算法突击清单.md"

alias gr="go run "

alias gdb="sudo gdb"

lsp(){
  a=`pwd`
  ls $1 | awk '{ print test "/" $1 }' test="$a"
}

export knowp=~/projects/knowledge # do not wrap it with quotation mark

