export zshrc=~/.zshrc # 绝对路径
export pj=~/projects/
export iv=~/projects/interview
export tmp=~/tmp

export dl=~/Downloads/
export swim=~/Movies/swim
export a=~

export gff2=root@39.107.136.143
# export gff=root@123.57.211.10
export gff=root@47.93.18.94
export gffip=${gff:5:15}

export pku=1901210750@115.27.161.210

export zx=/root/zxzx/
export zxd=$gff:$zx


export int=~/projects/interview/writings/interesting

export doc=~/Documents
export ivrush=~/projects/interview/0面试突击清单 
export p6=~/projects/interview/6.824

# es
export usr=~/usr
export seo=~/projects/blog-seo-挑战杯
export es=~/usr/elasticsearch-7.6.0
export kib=~/usr/kibana-7.6.0-darwin-x86_64

scpf(){
    command="scp $1 $zxd$2"
    echo $command
    scp $1 $zxd$2
}
  

scpd(){
    command="scp -rp !($1/.git) $1 $zxd$2"
    echo $command
    scp -r $1 $zxd$2

}

crawl(){
   ca scrapy
   cd ~/projects/scrapy_projects/hg_crawler
   scrapy crawl csdn -a user=$1 -a max_page=$2
   da
   echo "爬取完成"
   echo ~/Documents/csdn_blogs
}


bbs-crawl(){
   
   ca scrapy
   cd ~/projects/scrapy_projects/bbs_crawler/crawl_test
   scrapy crawl post -a url=$1
   da
   echo "爬取完成"
   echo ~/projects/scrapy_projects/bbs_crawler/crawl_test/output
}

# 学习英语的项目
export enl=~/projects/learn_projects/english-learn
export cpl=~/projects/learn_projects/cpp_learn/
export mr=~/projects/my6.824code/origin-sourcecode/src/mapreduce

# add
export PATH=$PATH:~/projects/zcommands/bin
